{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="content container">
        <h2>If you're interested in contacting me do so here:</h2>
            <ul>
                <li>
                    rauleulogio3@gmail.com  
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/raul-eulogio-217069123/">LinkedIn Profile</a>  
                </li>
                <li>
                    <a href="https://github.com/raviolli77">GitHub Profile</a>
                </li>
            </ul>
    </div>
{% endblock %}