{% extends 'blog/base.html' %}
{% load staticfiles %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h2>
                    Welcome to my site!
                    </h2>
                    <p>
                    Here you'll see a bit of my work and who I am :)   
                    </p>
                    <h2>
                    About me
                    </h2>
                    <p>
                    My name is Raul Eulogio, but I usually go by Ravi! I like statistics, specifically Machine Learning. 
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}