{% extends 'blog/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div>
            <a class="btn btn-default" type="button" href="{% url 'post_new' %}">Post New Blog!</a>
            <a class="btn btn-default" type="button" href="{% url 'post_draft_list' %}">View Drafts</a>
        </div>
        <br><br>
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr|truncatechars:400 }}</p>
        </div>
    {% endfor %}
{% endblock content %}